<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        Vary Rate<input type="checkbox" value="1" name="myCheckbox">
        Flat Rate<input type="checkbox" value="2" name="myCheckbox">
        Free Weekends Rate<input type="checkbox" value="3" name="myCheckbox">
        Highest Days Rate<input type="checkbox" value="4" name="myCheckbox">
        <input type="submit">
    </form>
</body>
</html>