<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <li>Enter your Smart Meter Info {{form.file()}}</li>
        {% for i in checkboxList: %}
            {%if i == '1': %}
                <li>Enter your daytime rate {{form.rate1()}}</li>
                <li>Enter your nighttime rate {{form.rate2()}}</li>
                <li>Enter your daytime rate start time {{form.time1()}}</li>
                <li>Enter your nighttime rate start time {{form.time2()}}</li>
            {%endif%}
            {%if i == '2': %}
                <li>Enter your flat rate {{form.flatRate}}</li>
            {%endif %}
            {%if i == '3': %}
                <li>Enter your free weekends rate {{form.weekends}}</li>
            {%endif %}
            {%if i == '4': %}
                <li>Enter your highest days off rate {{form.highestDays}}</li>
                <li>Enter the numbers of days free {{form.numDays}}</li>
            {%endif %}
            {%endfor %}
        
        {{form.submit()}}
    </form>
</body>
</html>